*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

button{
    outline: none;
    border: 2px solid black;
}

.creatorWrap{
    display: flex;
    background-color: dimgray;
    height: 100%;
    flex-wrap: wrap;
}

.sectionWrap, .elemWrap{
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: white;
}

.elemWrap{
    background-color: dimgray;
}

.socket{
    height: 80px;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    margin-bottom: 6px;
}

.sectionWrap .socket{
    border-right: 6px solid white;
}

.sectionWrap .socket:last-child{
    margin-bottom: 0;
}

.addSec{
    flex-grow: 1;
    background-color: dimgray;
}

.secImg, .elemImg{
    height: 50px;
    max-width: 90%;
}

.sectionWrap .active{
    border-right: 6px solid dimgray;
}

.sceneWrap{
    height: 100%;
    width: 1080px;
    flex-grow: 1;
    background-color: white;
    order: 3;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theScene{
    border: 5px solid black;
    height: 700px;
    width: 1000px;
    position: relative;
}

.theScene .active{
    position: absolute;
}

.vasya-1{
    z-index: 1;
    width: 80%;
    left: 100px;
    top: 123px;
}

.vasya-6{
    z-index: 2;
}

.vasya-2{
    z-index: 3;
    width: 3%;
    top: 133px;
    left: 130px;
}

.vasya-2-4{
    top: 136px;
    left: 133px;
}

.vasya-3{
    z-index: 4;
    width: 10%;
    top: 49px;
    left: 94px;
}

.vasya-3-1{
    top: 86px;
    left: 97px;
}

.vasya-3-2{
    top: 88px;
    left: 90px;
}

.vasya-3-3{
    top: 49px;
    left: 94px;
}

.vasya-4{
    z-index: 3;
    width: 5%;
    left: 105px;
    top: 158px;
}

.vasya-4-3{
    left: 99px;
    top: 144px;
}

.vasya-5{
    z-index: 2;
}

.vasya-5-1{
    width: 72%;
    left: 174px;
    top: 147px;
}

.vasya-5-2{
    width: 68%;
    left: 190px;
    top: 191px;
}

.vasya-5-3{
    width: 71%;
    left: 188px;
    top: 177px;
}

.vasya-5-4{
    width: 56%;
    left: 256px;
    top: 266px;
}

.vasya-6-1{
    width: 73%;
    left: 171px;
    top: 122px
}

.vasya-6-2{
    width: 70%;
    left: 188px;
    top: 128px;
}

.vasya-6-3{
    width: 70%;
    left: 188px;
    top: 134px;
}
